@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;900&display=swap');
body {
  width: 100%;
  #app {
    width: 100% !important;
  }
}

@font-face{
  font-family:"recoleta-regular";
  src: local("recoleta-regular"),
  url(../assets/recoleta-regulardemo.otf) format("truetype");
}

$font-reco: 'recoleta-regular';
$font-inter: 'Inter', sans-serif;

.reco {
  font-family: $font-reco;
}
.inter {
  font-family: $font-inter;
}

.img-border {
  border-radius: 15px;
}

.form-ele {
  padding: 10px;
}
.form-ele:active {
}
::placeholder{
  color: #000 !important;
}
.form-ele:focus {
  outline: 0px !important;
}

@layer components {
  .container {
    @apply max-w-xs sm:max-w-md md:max-w-2xl lg:max-w-6xl m-auto
  }

  .theme-color {
    @apply text-[#45D279]
  }
  
}

.desktop {
  display: none;
}
@media (min-width: 950px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

.carousel__prev {
  background-color: #45D279 !important;
  display: none !important;
}
.carousel__next {
  display: none !important;
}
.carousel__icon {
  background-color: #45D279 !important;
}
